body{
margin: 0;
display: flex;
justify-content: center;
background-color: #F1FFF0;
}


nav {
display: flex;
position: absolute;
width: 100%;
height: 130px;
left: 0px;
top: 0px;
background-color: #fff;
justify-content: space-evenly;
text-align: center;
align-items: center;
border-bottom: black solid 1px;
}

nav .logo{
width: 118px;
height: 114px;
left: 381px;
top: 8px;
}


nav a{
text-decoration: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 30px;
color: black;
}


.main-container { 
display: flex; 
box-sizing: border-box; 
width: 1802px;
 height: 850px; 
background: #FFFFFF; 
opacity: 0.6; 
border: 1px solid #000000; 
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 15px; 
transform:translateY(150px) ;
 -webkit-transform:translateY(150px) ;
 -moz-transform:translateY(150px) ;
 -ms-transform:translateY(150px) ; 
-o-transform:translateY(150px) ;
}


.nav-side{
    justify-content: center;
    box-sizing: border-box;
    width: 482px;
    height: 315px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 50px;
    transform: translateY(90px);
     -webkit-transform: translateY(90px);
     -moz-transform: translateY(90px); 
    -ms-transform: translateY(90px); 
    -o-transform: translateY(90px);
}

.nav-side button{ 
border: 1px solid rgb(208, 208, 208);
font-family: Verdana, Geneva, Tahoma, sans-serif; 
font-size: 30px; 
opacity: 1;
font-weight: 800;
width: 100%; 
height: 120px; 
margin: 10px;
border-radius: 15px;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 -ms-border-radius: 15px; 
-o-border-radius: 15px; 
transform:translateX(-50px) ; 
-webkit-transform:translateX(-50px) ;
-moz-transform:translateX(-50px) ; 
-ms-transform:translateX(-50px) ;
 -o-transform:translateX(-50px) ;
}

.nav-side button:hover { 
background-color: rgba(0, 128, 0, 0.5); 
}
.info-container{
display: flex;
box-sizing: border-box;
width: 1180px;
height: 750px;
left: 648px;
top: 196px;
background: linear-gradient(180deg, #B5B5B5 0%, rgba(217, 217, 217, 0) 100%);
mix-blend-mode: normal;
opacity: 0.9;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
transform: translateY(50px);
 -webkit-transform: translateY(50px); 
-moz-transform: translateY(50px); 
-ms-transform: translateY(50px); 
-o-transform: translateY(50px);
}

.info-container .admin-name{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 40px;
margin: 30px;
}

.info-container .log-out{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: 700;
 font-size: 18px;
 box-sizing: border-box;
 width: 205px;
 height: 69px;
 background: rgba(252, 227, 2, 1);
 border: 1px solid #000000;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 15px;
 opacity: 1;
 margin: 20px;
 transform: translateX(470px);
 -webkit-transform: translateX(470px);
 -moz-transform: translateX(470px);
 -ms-transform: translateX(470px);
 -o-transform: translateX(470px);
}

.info-container .log-out:hover{
background-color: rgba(0, 128, 0, 0.5); 
}


.info-container .act-info-text{ 
    display: grid;
    align-items: center;
    justify-content: left;
    text-align: center;
    margin-left: 45px;
    position: absolute;
    width: 1089px; 
    height: 580px; 
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 15px;
    transform: translateY(120px); -webkit-transform: translateY(120px); 
    -moz-transform: translateY(120px); -ms-transform: translateY(120px); 
    -o-transform: translateY(120px);
}

.info-container .act-info-text .ait-title{
    font-weight: 700;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info-container .act-info-text .form{
    font-weight: 700;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
}

.info-container .act-info-text input{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    width: 625px;
    height: 37px;
    background: #FEFEFE;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    justify-content: right;
}
